<div class="card-body">
  <div class="card-title">
    <div class="content">
      <div class="contentleft">
        <button button="submit" class="btn btn-info" routerLink="../AddExpressionfr"  >        
          Ajouter
        </button>
    </div>
    <div class="contentright">
      <div class="input-group d-flex">
        <input class="form-control me-2" [(ngModel)]="searchText" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" (click)="filtrer()" type="submit">Search</button>
      </div>
    </div>
    </div>
  </div>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr class="text-center" >
        <th scope="col">#</th>
        <th scope="col">Lettre de base</th>
        <th scope="col">Expression</th>
        <th scope="col">Phonetique</th>
        <th colSpan={3}>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor ="let expression  of expressionfrs | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <td>{{ expression.idmefr }}</td>
        <td>{{ expression.idalph?.lettre }}</td>
        <td>{{ expression.formeecrite }}</td>
        <td>{{ expression.formprononce }}</td>
        <td class="d-flex justify-content-around">
       <button class="btn btn-warning" [routerLink]="['../UpdateCategoriedoc', expression.idmefr]"> <i class="bi-pencil-square"></i></button>
       <button class="btn btn-danger"> <i class="bi bi-trash"></i></button>
        </td>
     </tr>
    </tbody>
  </table>
  <div *ngIf="expressionfrs.length>0" class="mt-8 py-5 flex justify-center items-center" style="width: 100%; display: flex; justify-content: center;" >
    <pagination-controls  (pageChange)="p = $event"></pagination-controls>
  </div>
</div>