<div class="card-body">
  <div class="card-title">
    <div class="content">
    <div class="contentleft">
      <button button="submit" class="btn btn-info" routerLink="../AddExpressionmr"  >        
        Ajouter
      </button>
  </div>
  <div class="contentright">
    <div class="input-group d-flex">
      <input class="form-control me-2" [(ngModel)]="searchText" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" (click)="filtrer()" type="submit">Search</button>
    </div>
  </div>
  </div>
  </div>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Francais</th><!-- 
        <th scope="col">Langue</th> -->
        <th scope="col">Correspondance</th>
        <th scope="col">Phonetique</th>
        <th colSpan={2}>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor ="let expression  of expressionmrs| paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <td>{{ expression.idmemr }}</td>
        <td>{{ expression.idmefr?.formeecrite }}</td>
        <!-- <td>{{ expression.idlangue?.liblangue }}</td> -->
        <td>{{ expression.formecritmr }}</td>
        <td>{{ expression.formprononcemr }}</td>   
        <td class="d-flex justify-content-around">
        <!-- <button class="btn btn-info">view</button> -->
        <button class="btn btn-warning me-5" [routerLink]="['../UpdateExpressionmr', expression.idmemr]"> <i class="bi bi-pencil-square"></i></button>
        <button class="btn btn-danger" (click)="delete(expression)"> <i class="bi bi-trash"></i></button>
        </td>  
        
     </tr>
    </tbody>
  </table>
  <div *ngIf="expressionmrs.length>itemsPerPage" class="mt-8 py-5 flex justify-center items-center" style="width: 100%; display: flex; justify-content: center;" >
    <pagination-controls  (pageChange)="p = $event"></pagination-controls>
  </div>
</div>